body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #333;
    padding: 1rem;
    width: 100%;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar .nav-links li {
    margin: 0 1rem;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
}

.jeu {
    text-align: center;
}

#game-container {
    width: 500px;
    height: 500px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    border: 2px solid #333;
    margin-bottom: 20px;
}

#character {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 225px;
    left: 225px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #45a049;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.memory-card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;
    position: relative;
    transform: scale(1);
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.memory-card.flip {
    transform: rotateY(180deg);
    pointer-events: none;
}

.memory-card:active {
    transform: scale(0.97);
}

.memory-card .front-face,
.memory-card .back-face {
    background-color: #2e3d49;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
}

.memory-card .front-face {
    transform: rotateY(180deg);
}

.memory-card .back-face {
    background-color: #2e3d49;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.memory-card img {
    width: 100%;
    height: 100%;
}
